# Ambiente virtual
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Variáveis de ambiente
.env
.env.*

# Banco de dados local
db.sqlite3
db.sqlite3-journal

# Arquivos do Django
*.log

# IDEs e editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# banco de dados
*.db
.sqlite3